<h1>Confirm your Account!</h1>
<h3><%= message %></h3>
<form action="/confirmation" autocomplete="off" method="POST">
    <div>
        <label for="email">Please enter your email in order to confirm your account</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Register</button>
</form>